ipykernel
notebook

pandas
scikit-learn
nltk
matplotlib
seaborn
plotly
nbformat
nbconvert

hdbscan
umap-learn

tensorflow==2.18.1
keras>=3.4,<4
keras_tuner
tensorboard
tensorflow-metal==1.2.0

tensorflow-datasets==4.9.7
tensorflow-metadata<1.17
protobuf==5.29.6
importlib_resources

datasets==3.6.0
huggingface_hub<1.0
ipywidgets

transformers
requests